.bannerCarousel{
      /* 分页器样式 */
      .swiper-pagination {
        position: absolute;
        bottom: -15px !important;
        right: 0 !important;
        // width: 100%;
        text-align: right!important;
        // z-index: 100;
      }
      
      .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        background: rgba(250, 248, 248, 0.5) !important;
        margin: 0 4px;
        opacity: 0.8;
        cursor: pointer;
      }
      
      .swiper-pagination-bullet-active {
        opacity: 1;
        background: #ffff !important;
        width: 10px;
        height: 10px;
      }
}

